@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body, html {
    height: 100%;
    width: 100%;
  }

  .logo{
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.2em;
    cursor:default;
  }
  
  .navbar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.19);
    color: white;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 50px;
    z-index: 9999;
  }
  
  .nav-links {
    display: flex;
    gap: 30px; /* spacing between buttons */
    align-items: center;
  }
  
  .nav-links button {
    all: unset; /* remove browser defaults */
    cursor: pointer;
    padding: 4px 14px;
    border-radius: 50px;
    transition: background 0.3s;
    color: rgb(255, 255, 255);
    background-color: transparent;
  }
  
  /* Style override for #button1 */
  #button1 {
    background-color: white;
    border: 2px solid white;
    color: black;
  }
  
  
  .nav-links button:hover {
    background: white;
    color: black;
  }
  
  .hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.264), 
        rgba(0, 0, 0, 0.264)
      ),
      url('./assets/bg.jpg') no-repeat center center / cover;
    filter: grayscale(100%) blur(1px);
    z-index: -1;
  }
  
  
  .hero-content {
    padding: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
  
  .hero-content h1 {
    font-size: 7em;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.145);
  }
  
  .hero-content p {
    font-size: 1.1em;
    margin-top: -20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.145);

  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1em;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .cta-button:hover {
    background: #f0f0f0;
  }
  